.responsive-web{
  font-family: 'Courier New', Courier, monospace;
  @media (max-width: 500px) {
    .title{
      text-align: center;
      color: white;
      font-weight: bold;
    }
    .des {
      text-align: center;
      color: rgb(197, 197, 197);
      font-size: 0.9rem;
      margin-bottom: 40px;
    }
    .emailContainer {
      text-align: center;
    }
    .email{
      display: flex;
      background-color: white;
      text-align: center;
      width: 18rem;
      margin: 0 auto;
      padding: 0.5rem 0 0.5rem 0.6rem;
      border-radius: 0.6rem;
      transition: 0.4s ease;
      font-size: 1rem;
      font-weight: bold;
      color: black;
    }
    .email img {
      margin-right: 8px;
      margin-bottom: 0;
    }
    .email:hover {
      background-color: rgb(214, 214, 214);
      cursor: pointer;
    }
    .iconEmail {
      width: 1.3rem;
    }
    .back {
      display: flex;
      justify-content: center;
      margin-top: 30px;
    }
    .githubProfile {
      width: 1.3rem;
      margin-top: 20px;
      transition: 0.5s ease;
      padding: 0.5rem;
      border-radius: 10%;
      border: 1px solid rgb(44, 44, 44);
    }
    .githubProfile:hover {
      background-color: rgb(39, 39, 39);
    }
    .linkedinProfile {
      width: 1.3rem;
      margin-left: 10px;
      margin-top: 20px;
      transition: 0.5s ease;
      padding: 0.5rem;
      border-radius: 10%;
      border: 1px solid rgb(44, 44, 44);
    }
    .linkedinProfile:hover {
      background-color: rgb(39, 39, 39);
    }
  }
}