.responsive-web {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 86rem;
  .footer {
    color: rgb(197, 197, 197);
    display: flex;
    width: 86rem;
    margin: 0 auto;
  }
  .footer p:last-of-type{
    margin-left: 48rem;
  }
  @media (max-width: 768px) and (min-width: 501px) {
    .footer {
      color: rgb(197, 197, 197);
      display: flex;
    }
    .footer p:last-of-type{
      margin-left: 11rem;
    }
  }
  @media (max-width: 500px) {
    font-family: 'Courier New', Courier, monospace;
   width: 27rem;
    margin-left: 2px;
    text-align: center;
    .footer {
      color: rgb(197, 197, 197);
      font-size: small;
      display:block;
      width: 30rem;
      margin: 0 auto;

    }
    .footer p:last-of-type{
      font-size: small;
      margin-left: 1rem;
    }
  }
}