.Nombre {
  font-size: 3rem;
}

@media (min-width: 640px) {
  .Nombre {
    font-size: 4rem;
  }
}

@media (min-width: 768px) {
  .Nombre {
    font-size: 3rem
  }

@media (min-width: 1024px) {
  .Nombre {
    font-size: 5rem;
  }
}

@media (min-width: 1536px) {
  .Nombre {
    font-size: 6rem;
  }
}

  
}